footer {
    background-color: #292929;
    height: 400px;
    text-align: center;
    padding-top: 40px;
}

footer .icon {
    background-color: #ecd407;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    margin: auto;
    color: black;
}

footer .icon:hover {
    color: #ecd407;
    background-color: black;
}

footer .icon-copy {
    padding-top: 10px;
}

footer .footer-copy {
    padding-top: 30px;
}
