@import '../mixins/mixins';
#main-header {
    height: 100vh;
    background: url('https://d2pptc4exyus09.cloudfront.net/puzzle/165/743/original.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    .inner {
        @include srodkuj;
        border: 10px solid black;
        @include border-radius(50px);
    }
}
